---
---

@import "{{ site.theme }}";
body{
  direction:rtl;
  text-align:right;
  font-family: "Arial";
}

.main-content p {
  font-family: "tahoma";
}

@media screen and (min-width:64em){
  .main-content {
    font-size: 1rem;
  }
}
