---
---

@import "{{ site.theme }}";
body{
  direction:rtl;
  text-align:right;
  font-family: "Arial";
  line-height:1.8;
}

.main-content p, .main-content ul, .main-content ol {
  font-family: "tahoma";
}

@media screen and (min-width:64em){
  .main-content {
    font-size: 1rem;
  }
}
