---
---

@import "{{ site.theme }}";

// Global body styling
body{
  direction:rtl;
  text-align:right;
  font-family: "Arial"; // Using consistent font-family
  line-height:1.8;
}

// Responsive design for larger screens
@media screen and (min-width:64em){
  .main-content {
    font-size: 1rem;
  }
}
